<div class="content-container">
    <h1 class='rubrique-title'><%= @article.title %></h1>
    <span class="description"><%= @article.created_at %></span>
</div>
<%= image_tag(@article.main_image, class: 'full-width') if @article.main_image.attached? %>

<div class="content-container">
<span class="full-width"><%= @article.body %></span>

<% if admin_signed_in? && current_admin.id == 1 %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
  <!-- Index first 3 articles -->
  <% @articles.limit(3).each do |a| %>
    <div class="card-article">
      <%= image_tag(a.main_image, class: 'full-width') if a.main_image.attached? %>
      <h3><%= a.title %></h3>
      <span class="description"><%= l(a.created_at, locale: :fr, format: "%d %B %Y") %></span>
    </div>
  <% end %>
    <%= link_to 'Voir plus', articles_path, class: 'cta-primary' %>
</div>

