<div class="bg-black-gradient">
  <div class="content-container home-banner top-space">
    <h1 class="hero-title width-75-xl z-index-50 mt-5"><%= @article.title %></h1>
    <p class="description pt-4"><%= l @article.created_at, locale: :fr, format: "%d %B %Y" %></p>
    <%= image_tag(@article.main_image, class: 'intro-image') if @article.main_image.attached? %>
  </div>
</div>
<div class="content-container">
  <div class="article-container mt-5 bottom-space">
    <%= @article.body %>
    <% if admin_signed_in? && current_admin.id == 1 %>
      <div class="d-flex mt-4">
        <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'cta-secondary-black' %>
        <%= link_to 'Edit', edit_article_path(@article), class: 'cta-primary' %>
      </div>
    <% end %>
  </div>
</div>
<div class="bg-light">
  <div class="content-container grid-2c top-space">
  <!-- Index first 3 articles -->
  <div>
    <h3 class="rubrique-title mb-5">D’autres articles qui pourraient vous intéresser.</h3>
    <% @articles.limit(4).each do |a| %>
      <%= link_to article_path(a) do %>
        <div class="card-article mb-5">
          <h3 class="rubrique-description"><%= a.title %></h3>
          <p class="description mt-3"><%= l(a.created_at, locale: :fr, format: "%d %B %Y") %></p>
        </div>
      <% end %>
    <% end %>
    <%= link_to 'Voir plus', articles_path, class: 'cta-primary-black mb-4' %>
  </div>
  <div class="form-card">
    <h3>Vous avez un projet ?</h3>
    <p class="rubrique-description pb-3">Echangeons.</p>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
    hbspt.forms.create({
    portalId: "7638941",
    formId: "66fba0ef-d253-4466-96f7-8045619cce88"
    });
    </script>
  </div>
  </div>
</div>
