<div class="content-container home-banner">
  <h1 class="landing-text">Accroche sur les valeurs de YUSA et ses engagements</h1>
</div>
<div class="content-container pt-0">
  <p>Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</p>
</div>

<!-- Client cases -->
<div class="grid-cases">
  <% @cases.each do |c| %>
    <div class="card-client">
      <%= link_to case_path(c) do %>
      <%= image_tag(c.main_image, class: 'full-width') if c.main_image.attached? %>
      <div class="content-container">
        <h2 class="rubrique-title"><%= c.client_name %></h2>
        <div class="rubrique-description"><%= c.title %></div>
        <!-- If user authenticate -->
        <%= link_to 'Edit', edit_case_path(c) %>
        <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

<% if admin_signed_in? && current_admin.id == 1 %>
  <%= link_to 'New Case', new_case_path %>
<% end %>
