<div class="content-container text-center">
    <h1 class='rubrique-title'><%= @case.client_name %></h1>
    <h2 class='rubrique-description'><%= @case.title %></h2>
</div>
<%= image_tag(@case.main_image, class: 'full-width') if @case.main_image.attached? %>

<div class="content-container">
<span class="full-width"><%= @case.body %></span>

<% if admin_signed_in? && current_admin.id == 1 %>
  <%= link_to 'Edit', edit_case_path(@case) %> |
<% end %>


<% @cases.limit(3).each do |c| %>
  <div class="card-article">
    <%= image_tag(c.main_image, class: 'full-width') if c.main_image.attached? %>
    <h3><%= c.client_name %></h3>
  </div>
<% end %>
<%= link_to 'Voir plus', cases_path, class: 'cta-primary' %>

</div>
