<div class="bg-black-gradient full-screen">
  <div class="content-container home-banner justify-content-end z-index-50 pb-2">
    <div class="hero-title">Hello !<br>Bienvenue chez Yusa.</div>
    <%= link_to about_path(anchor:'start'), class: 'center-item' do %>
    <%= image_tag 'arrow-d-white.svg', class: 'mt-5 mb-2' %>
    <% end %>
  </div>
</div>
<%= image_tag "bg-logo-black.svg", class: 'bg-logo-overflow' %>
<div class="bg-light">
  <div class="layout-container content-container">
    <h1 id='start' class="text-center smooth-text mt-5 pt-4 rubrique-title bg-black px-2 py-4">"La mise en place d’une stratégie centrée sur l'utilisateur a le potentiel de multiplier par 5 les taux de conversion."</h1>
    <div class="d-flex flex-column">
      <h2 class="mt-5 top-space bottom-space left-align-60 rubrique-title">Malgré ce constat, seulement la moitié des organisations teste leur expérience utilisateur.</h2>
      <h2 class="mt-4 top-space bottom-space self-flex-end text-right left-align-60 rubrique-title">Pourtant 85% des problèmes liés à l’expérience peuvent être repérés en menant un test auprès de 5 utilisateurs seulement.</h2>
      <h2 class="mt-4 top-space bottom-space left-align-60 rubrique-title">La résoulution d'un problème d’UX en phase de développement coute 10 fois plus que de le résoudre pendant la phase de conception...</h2>
      <h2 class="mt-4 top-space bottom-space self-flex-end text-right left-align-60 rubrique-title">...et 100 fois plus lorsque le produit ou service est lancé sur le marché.</h2>
      <%= link_to 'on démarre ?', "https://form.typeform.com/to/yAbF7ePP", target: "_blank", onclick: "ga('send', 'event', { eventCategory: 'cta', eventAction: 'click', eventLabel: 'cta_landing_about'});", class: 'cta-primary fixed-cta-mobile mt-5' %>
      <%= image_tag "illustrations/user_feedback.svg", class: '' %>
    </div>
  </div>
</div>
<div class="layout-container content-container">
  <div class="left-align-60 top-space">
    <h2 class="big-title">Notre vision</h2>
    <p class="rubrique-description">Yusa est une initiative portée par la conviction que la transformation digitale ne doit pas être une simple transposition des processus traditionnels dans leur version dématérialisée.</p>
    <p class="rubrique-description">L'attention doit être portée sur les usages et sur la manière dont les utilisateurs s'approprient la technologie.</p>
    <p class="rubrique-description">Ainsi, en concentrant les efforts sur la génération de nouveaux modèles économiques, les organisations seront en mesure de créer plus de valeur et de renforcer leur position sur leur marché.</p>
  </div>
</div>
<div class="content-container">
  <div class="grid-2c">
    <div class="form-card">
      <h3>Vous avez un projet ?</h3>
      <p class="rubrique-description pb-3">Echangeons.</p>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
      hbspt.forms.create({
      portalId: "7638941",
      formId: "66fba0ef-d253-4466-96f7-8045619cce88"
      });
      </script>
    </div>
    <div class="d-inline-block">
      <h2 class="big-title pt-5 pb-3">Acteur de votre croissance</h2>
      <p class="rubrique-description">Plus de 7 années d'expérience dans le conseil en transformation digitale, Yusa vous accompagne dans vos perspectives d'innovation et met à votre disposition les expertises nécessaires à la réussite de votre projet.</p >
    </div>
  </div>
</div>
<div class="bg-black top-space bottom-space">
  <div class="content-container grid-2c grid-gap-60 top-space bottom-space">
    <div>
      <h4 class="rubrique-title">Concevoir pour les<br>utilisateurs</h4>
      <p class="smooth-text">Nous aidons nos clients à mieux comprendre leurs utilisateurs, identifier les frictions et ainsi transformer leur présence digitale en canal de croissance. Notre objectif : créer des expériences digitales impactantes, renforcer l’identité de marque et concevoir des produits qui engagent votre cible.</p>
    </div>
    <div>
      <h4 class="rubrique-title">Ecouter, Tester, <br>Repeter</h4>
      <p class="smooth-text">Nous travaillons main dans la main pour identifier les opportunités du marché, prototyper et tester rapidement des solutions. Ainsi, nous diminuons drastiquement les délais de conception et pouvons nous adapter à toute évolution de la demande.</p>
    </div>
    <div>
      <h4 class="rubrique-title">Aligner les <br>équipes internes</h4>
      <p class="smooth-text">Les entreprises que nous accompagnons sont régulièrement freinées par le poids de leur structure. Nous intervenons en tant que facilitateur pour aligner et faire collaborer les équipes dans un même sens. Nous mettons la priorité sur les besoins des utilisateurs et alignons les efforts pour raccourcir vos prises de décision et vos processus de validation.</p>
    </div>
    <div>
      <h4 class="rubrique-title">Exécuter plus rapidement</h4>
      <p class="smooth-text">Nous aidons nos clients à éxécuter plus rapidement leur transformation digitale. Que vos objectifs soient de lancer un nouveau produit, mettre en place un processus digitalisé, repenser votre site Internet ou repositionner votre marque, nous appliquons des méthodologies qui vous permettront d’accélérer.</p>
    </div>
  </div>
</div>
<!-- FAQ -->
<%= render 'layouts/faq' %>
