<!-- Content container wrapped -->
<section class="bg-light-gradient full-screen">
  <%= image_tag "bg-logo-light.svg", class: 'bg-logo-light', alt: 'background logo yusa' %>
  <div class="content-container home-banner">
    <h2 class="hero-title animated-letter txt anim-text-flow">Sprint Your Digital Transformation.</h2>
    <h2 class="rubrique-description mt-4 left-align-80">Nous réalisons les produits digitaux qu’attendent vos utilisateurs. Rapidement et simplement.</h2>
  </div>
</section>
<!-- Start-card -->
<div class="bg-black min-100-vh card-rounded overlay top-space">
  <div class="content-container">
    <!-- Expertises -->
    <div class="grid-2c bottom-space">
      <div class="bottom-space pt-2">
        <h1 class="rubrique-title">Chez Yusa nous concevons, testons et développons rapidement vos idées de sites web ou d'applications pour créer le produit digital que vos utilisateurs désirent.</h1>
        <h2 class="rubrique-description mt-4">Passez de l'idée au produit, sans risque, sans dépendance et en maîtrisant votre budget.</h2>
        <%= link_to 'concrétisez votre idée', "/#offres", class: 'cta-primary' %>
      </div>
      <!-- Value -->
      <div class="offers">
        <div class="card-p-bottom trigger">
          <div class="card-p-bottom-title pointer">
            <h3 class="rubrique-description font-weight-bold">Accélérer et concrétiser vos projets</h3>
            <i class="fas fa-caret-down fas-stylized trigger-active"></i>
          </div>
          <p class="todeploy smooth-text pt-2 mb-5">Désormais, le lancement d'un nouveau produit digital peut être réalisé sans risque et à moindre coût. Nous prototypons vos idées, nous les testons sur des panels restreints d'utilisateur et réalisons des MVP, sans nécessité d'être lié à votre SI, ni dépendant de vos développements.</p>
        </div>
        <div class="card-p-bottom trigger">
          <div class="card-p-bottom-title pointer">
            <h3  class="rubrique-description font-weight-bold">Créer des expériences digitales efficaces</h3>
            <i class="fas fa-caret-down fas-stylized"></i>
          </div>
          <p class="todeploy smooth-text pt-2 mb-5" style="display: none">Parce que les interactions digitales sont avant tout humaines, nous imaginons et prototypons des intefarces qui maximisent l'expérience positive de vos utilisateurs. Ainsi, nous développons des produits capables d'atteindre plus efficacement vos objectifs business.</p>
        </div>
        <div class="card-p-bottom trigger">
          <div class="card-p-bottom-title pointer">
            <h3  class="rubrique-description font-weight-bold">Comprendre vos utilisateurs</h3>
            <i class="fas fa-caret-down fas-stylized"></i>
          </div>
          <p class="todeploy smooth-text pt-2 mb-5" style="display: none">La manière dont vos utilisateurs interagissent avec vos produits est principalement guidée par leurs émotions.
          La compréhension de leurs objectifs et de leurs freins est une phase indispensable à tous projets digitaux. Notre expertise en User Research nous permet de rapidement identifier les leviers à actionner pour transformer votre audience en utilisateurs actifs.</p>
        </div>
        <div class="card-p-bottom trigger">
          <div class="card-p-bottom-title pointer">
            <h3  class="rubrique-description font-weight-bold">Accompagner vos projets dans la durée</h3>
            <i class="fas fa-caret-down fas-stylized"></i>
          </div>
          <p class="todeploy smooth-text pt-2 mb-5" style="display: none">Nous sommes à vos côtés, de l’élaboration d’une stratégie de transformation digitale au déploiement des produits. Nos expériences dans de multiples environnements projets nous permettent d’être rapidement intégrés à vos équipes.</p>
        </div>
      </div>
    </div>
    <div class="rubrique-title center-item top-space">Ils nous ont confiés leurs projets digitaux</div>
    <!-- clients -->
    <div class="content-container">
      <div class="d-flex justify-content-around">
        <div class="justify-content-between grid-logo-clients align-items-center">
          <%= image_tag "clients/sg-logo.png", alt: "société générale", class: 'm-4' %>
          <%= image_tag "clients/cdn-logo.png", alt: "crédit du nord", class: 'm-4' %>
          <%= image_tag "clients/enx-logo.png", alt: "euronext", class: 'm-4' %>
          <%= image_tag "clients/gnrl-logo.png", alt: "generali france", class: 'm-4' %>
        </div>
        <div class="justify-content-between grid-logo-clients align-items-center">
          <%= image_tag "clients/paca-logo.png", alt: "région Sud", class: 'm-4' %>
          <%= image_tag "clients/lcl-logo.png", alt: "LCL banque assurance", class: 'm-4' %>
          <%= image_tag "clients/lpa-logo.png", alt: "la parisienne assurance", class: 'm-4' %>
          <%= image_tag "clients/bmfs-logo.png", alt: "BMW financial services", class: 'm-4' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Offers -->
<div class="bg-light">
  <div class="content-container">
    <span id="offres"></span>
    <div class="my-5 top-space">
      <h2 class="big-title">NOTRE OFFRE</h2>
      <p class="rubrique-description left-align-80">Nos prestations sont réalisées sous forme de sprints. Des itérations de 2 à 4 semaines pour expérimenter, tester et créer les produits digitaux les plus en adéquation avec vos objectifs et les attentes des utilisateurs.</p>
      <div class="services-container top-space bottom-space">
        <ul class="list-no-style domain-list align-self-start">
          <li class="p-1 m-3 button_slide  slide_right-active"><a id="dom1" class="domain rubrique-title" data-toggle="collapse" href="#serviceOne" role="button" aria-expanded="true" aria-controls="serviceOne">CRAFT</a></li>
          <li class="p-1 m-3 button_slide "><a id="dom2"class="domain rubrique-title" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">FOCUS</a></li>
          <li class="p-1 m-3 button_slide "><a id="dom3"class="domain rubrique-title" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">LEAD</a></li>
        </ul>
        <div class="services-list card-on-xs">
          <div class="collapse show" data-domain="dom1">
            <h3 class="p-3 bg-black">Votre nouveau produit digital, conçu, testé et approuvé par vos utililisateurs</h3>
            <p class="rubrique-description font-weight-bold mt-5">VOS BESOINS</p>
            <ul>
              <li>Lancer un nouveau produit digital</li>
              <li>Tester une nouvelles idées auprès de vos utilisateurs</li>
              <li>Refondre un site web ou une application existante</li>
              <li>Intégrer de nouvelles fonctionnalités à un outil existant</li>
            </ul>
            <p class="rubrique-description font-weight-bold mt-5">CONTENU DU SPRINT</p>
            <p>Phases d'expérimentations comprenant l'idéation, la conception et les tests utilisateurs. Nous prototypons vos produits ou réalisons des applications no-code opérationnelles et prêtes à l'emploi.</p>
            <a href="#" class="cta-secondary-white btn-left-xl">Détails de l'offre</a>
          </div>
          <div class="collapse" data-domain="dom2">
            <h3 class="p-3 bg-black">Des retours utilisateurs pour agir vite et prendre les bonnes décisions</h3>
            <p class="rubrique-description font-weight-bold mt-5">VOS BESOINS</p>
            <ul>
              <li>Réaliser un test d'utilisabilité pour un produit existant</li>
              <li>Identifier les freins sur un parcours utilisateur</li>
              <li>Comprendre ce que vos utilisateurs pensent de votre application ou site web</li>
              <li>Récolter des données qualifiées pour optimiser votre posionnement</li>
            </ul>
            <p class="rubrique-description font-weight-bold mt-5">CONTENU DU SPRINT</p>
            <p>Campagnes de User Research rapides sur une problématique que nous définissons ensemble. Nous organisons des entretiens et des tests utilisateurs pour récolter et tirer parti des données qualifiées.</p>
          </div>
          <div class="collapse" data-domain="dom3">
            <h3 class="p-3 bg-black">Votre projet digital géré par des experts de la conception de produits</h3>
            <p class="rubrique-description font-weight-bold mt-5">VOS BESOINS</p>
            <ul>
              <li>Renforcer une équipe Digital déjà en place dans votre organisation</li>
              <li>Accompagner votre stratégie de transformation digitale</li>
              <li>Bénéficier d'une aide à la conception et au lancement d'un outil interne</li>
              <li>Digitaliser un processus pour améliorer votre efficacité opérationnelle</li>
            </ul>
            <p class="rubrique-description font-weight-bold mt-5">CONTENU DU SPRINT</p>
            <p>Accompagnement à la conception, renfort d'une Product Squad ou d'une équipe d'UX Designers. Nous sommes intégrés à vos équipes pour gérer la conception opérationnelle du produit.</p>
          </div>
        </div>
      </div>
      <a href="#" class="cta-primary-black top-space">Nous contacter</a>
    </div>
    <div class="my-5 top-space">
      <h2 class="hero-title top-space text-center mb-5">In Prototype We Trust!</h2>
      <div class="row-to-column">
        <%= image_tag "illustrations/create.svg", alt: "concrétiser vos idées" %>
        <p class="rubrique-description">Pour concrétiser rapidement vos idées et vos projets digitaux, sans écrire une ligne de code.</p>
      </div>
      <div class="row-to-column">
        <%= image_tag "illustrations/organize.svg", alt: "sans risque" %>
        <p class="rubrique-description">Pour lancer un produit numérique sans risque et avec un budget limité.</p>
      </div>
      <div class="row-to-column">
        <%= image_tag "illustrations/user_feedback.svg", alt: "comportements utilisateur" %>
        <p class="rubrique-description">Pour connaitre le comportement de vos utilisateurs et agir en conséquence.</p>
      </div>
      <div class="row-to-column">
        <%= image_tag "illustrations/development.svg", alt: "développements projet" %>
        <p class="rubrique-description">Pour sécuriser une stratégie digitale et poursuire le développement d’un projet.</p>
      </div>
    </div>

    <div class="my-5 top-space bottom-space">
      <h2 class="big-title mb-5">NOTRE MÉTHODE</h2>
      <div class="grid-2c">
        <div class="card-methode">
          <h3>1. Kickstart</h3>
          <p class="pt-2">Notre première rencontre. Nous prenons connaissance de votre problématique, nous identifions les dépendances et déterminons les objectifs business à atteindre.</p>
        </div>
        <div class="card-methode margin-top-xs">
          <h3>2. Prototype</h3>
          <p class="pt-2">Passer de l'idée au concret pour tester rapidement le "User Fit" de votre nouveau produit digital. Application réelle ou maquettes fonctionnelles, nous mettons en place le meilleur dispositif pour votre besoin.</p>
        </div>
      </div>
      <div class="grid-2c mt-5">
        <div class="card-methode">
          <h3>3. Validation</h3>
          <p class="pt-2">Nous rencontrons vos utilisateurs pour qu'ils testent le produit. Leurs retours nous permettent de valider la réalisation ou d'expérimenter d'autres hypothèses.</p>
        </div>
        <div class="card-methode margin-top-xs">
          <h3>4. Exécution</h3>
          <p class="pt-2">En fonction du besoin et du périmètre, nous vous accompagnons dans le développement et la gestion de votre produit digital.</p>
        </div>
      </div>
    </div>
    <a href="#" class="cta-primary-black">On démarre ?</a>
  </div>
</div>
<div class="bg-black">
  <div class="content-container">
    <div class="my-5 top-space bottom-space">
      <h2 class="big-title">Yus'Academy</h2>
      <div class="grid-2c">
        <div class="pt-3">
          <h3>Former vos équipes aux méthodologies de demain.</h3>
          <p class="mt-4">Nous proposons des formations aux méthodologies UX et à la conception collaborative, basées sur vos propres projets. </p>
          <p>Nos formations permettrons à vos collaborateurs de devenir autonomes. Ils prendront en main les outils adéquats et feront progresser votre organisation vers une transformation digitale réussie.</p>

        </div>
        <div class="mt-4">
          <ul class="rubrique-description list-no-style">
            <li class="font-weight-bold mb-4">Management de la conception UX</li>
            <li class="font-weight-bold mb-4">Prototypage d'application</li>
            <li class="font-weight-bold mb-4">Product Management</li>
            <li class="font-weight-bold mb-4">Intégration web FrontEnd</li>
            <li class="font-weight-bold mb-4">Design Sprint workshops</li>
            <li class="font-weight-bold mb-4">Méthodologies de User Research</li>
          </ul>
        </div>
        <div class="row-to-column">
          <!-- CTA en savoir plus -->
          <!-- <a href="#" class="cta-secondary-black row-no-margin-top">Détails des formations</a> -->
          <a href="/#landing-contact" class="cta-secondary-yellow row-no-margin-top">Contactez nous</a>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- Contact -->
<div class="content-container">
  <span id="landing-contact"></span>
  <div class="grid-2c top-space">
    <div>
      <div class="d-inline-block">
        <h2 class="rubrique-description font-weight-bold pb-3">Donner vie à vos idées, vous accompagner dans l’innovation, analyser votre marché pour mieux le satisfaire.</h2>
        <p class="rubrique-description">Ces objectifs reposent sur la même ambition :  être en mouvement, continuer d’avancer et d’innover dans un monde en perpetuel changement. Chez Yusa nous vous aidons à suivre cette ambition, en nous appuyant sur ceux qui font de votre projet un succès : vos utilisateurs.</p >
      </div>
      <%= link_to 'Pourquoi Yusa ?', about_path, class: 'cta-secondary-white' %>
    </div>
    <div class="form-card">
      <h3>Vous avez un projet ?</h3>
      <p class="rubrique-description pb-3">Echangeons.</p>
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
      hbspt.forms.create({
      portalId: "7638941",
      formId: "66fba0ef-d253-4466-96f7-8045619cce88"
      });
      </script>
    </div>
  </div>
</div>
<!-- Cases section -->
<div class="content-container d-none">
<div class="grid-2c">
  <!-- Index frist 3 clients -->
  <% @cases.limit(5).each do |c| %>
  <div class="card-p-bottom">
    <%= link_to case_path(c) do %>
    <%= image_tag(c.main_image, class: 'full-width') if c.main_image.attached? %>
    <!-- nom client -->
    <h3><%= c.client_name %></h3>
    <% end %>
  </div>
  <% end %>
<!-- </div>
<div class="content-container grid-2c"> -->
  <% @articles.limit(3).each do |a| %>
  <div class="card-article">
    <%= image_tag(a.main_image, class: 'full-width') if a.main_image.attached? %>
    <h3><%= a.title %></h3>
    <span class="description"><%= l(a.created_at, locale: :fr, format: "%d %B %Y") %></span>
  </div>
  <% end %>
</div>
<%= link_to 'Voir plus', articles_path, class: 'cta-primary mb-5' %>
</div>
<%= render 'layouts/faq' %>
