<section class="bg-light-gradient">
  <div class="full-screen content-container home-banner pb-1">
    <div class="d-flex justify-content-between">
      <div class="justify-content-between w-75 pt-4">
        <h2 class="rubrique-title animated-letter txt anim-text-flow">Nous créons de la valeur pour vos utilisateurs en transformant rapidement vos idées en produit digital.</h2>
        <h1 class="rubrique-description w-75">Yusa, Conseil en innovation digitale et Product Lab</h1>
        <%= link_to 'concrétisez votre idée', "https://form.typeform.com/to/yAbF7ePP", target: "_blank", onclick: "ga('send', 'event', { eventCategory: 'cta', eventAction: 'click', eventLabel: 'cta_landing_home'});", class: 'cta-primary ml-0 fixed-cta-mobile' %>
      </div>
      <%= image_tag "illustrations/home-illustr.svg", class: 'width-40-xl mh-100', alt: 'Yusa home illustration' %>
    </div>
    <%= link_to root_path(anchor:'start'), class: 'center-item' do %>
    <%= image_tag 'arrow-d-black.svg', class: 'mb-5' %>
    <% end %>
  </div>
  <div class="content-container mb-5">
    <div id='start' class="rubrique-title text-center top-space">Vous souhaitez mettre le digital au centre de votre proposition de valeur ?</div>
    <div class="rubrique-title text-center mt-3 mb-5">Voici comment nous pouvons vous aider</div>
  </div>
  <div class="bg-black min-100-vh card-rounded">
    <div class="content-container pt-0 mt-2">
      <div class=" top-overlay-130">
        <div class="grid-3c">
          <div class="card-white">
            <%= image_tag "icons/icon-conseil.svg", class: 'icon-height-20 my-4', alt: 'Icon conseil innovation digital' %>
            <h2 class="mb-3">Conseil en innovation digitale</h2>
            <p>Nous embarquons à vos côtés pour accompagner la transformation de votre organisation, du cadrage à la mise en oeuvre opérationnelle.</p>
          </div>
          <div class="card-white">
            <%= image_tag "icons/icon-ds.svg", class: 'icon-height-20 my-4', alt: 'Icon Design Sprint' %>
            <h2 class="mb-3">Product Design Sprint</h2>
            <p>Passez de l'idée à l'action en un rien de temps grâce à la célèbre méthodologie de Google Venture. 5 jours chrono pour imaginer, concevoir et tester un nouveau produit.</p>
          </div>
          <div class="card-white">
            <%= image_tag "icons/icon-nocode.svg", class: 'icon-height-20 my-4', alt: 'Icon No-Code Lab' %>
            <h2 class="mb-3">No-Code<br>Lab</h2>
            <p>Lancez rapidement de nouvelles idées auprès de vos utilisateurs et identifier celles qui vont accélérer vos résultats. Nous prototypons rapidement des produits digitaux en No-code pour valider leur adéquation avec les utilisateurs.</p>
          </div>
        </div>
        <%= link_to 'concrétisez votre idée', "https://form.typeform.com/to/yAbF7ePP", target: "_blank", onclick: "ga('send', 'event', { eventCategory: 'cta', eventAction: 'click', eventLabel: 'cta_landing_home'});", class: 'cta-primary fixed-cta-mobile mt-5' %>
      </div>
      <div class="rubrique-title center-item top-space">Ils nous ont confié leurs projets digitaux</div>
      <!-- clients -->
      <div class="content-container">
        <div class="d-flex justify-content-around">
          <div class="justify-content-between grid-logo-clients align-items-center">
            <%= image_tag "clients/sg-logo.png", alt: "société générale", class: 'm-4' %>
            <%= image_tag "clients/cdn-logo.png", alt: "crédit du nord", class: 'm-4' %>
            <%= image_tag "clients/enx-logo.png", alt: "euronext", class: 'm-4' %>
            <%= image_tag "clients/gnrl-logo.png", alt: "generali france", class: 'm-4' %>
          </div>
          <div class="justify-content-between grid-logo-clients align-items-center">
            <%= image_tag "clients/paca-logo.png", alt: "région Sud", class: 'm-4' %>
            <%= image_tag "clients/lcl-logo.png", alt: "LCL banque assurance", class: 'm-4' %>
            <%= image_tag "clients/lpa-logo.png", alt: "la parisienne assurance", class: 'm-4' %>
            <%= image_tag "clients/bmfs-logo.png", alt: "BMW financial services", class: 'm-4' %>
          </div>
        </div>
      </div>
      <h3 class="big-title text-center mt-5 top-space">Prototyper, Tester, Recommencer.</h3>
      <p class="rubrique-description text-center">Nous sommes un lab d'expérimentation digitales.<br>A partir de vos objectifs business, nous émettons des hypothèses et lançons des sprints de 2 à 4 semaines pour prototyper, tester et créer les produits digitaux qui seront en mesure d'apporter de la valeur à vos utilisateurs.</p>
      <%= image_tag "illustrations/graph-methodo.svg", alt: "Illustration sprint méthodologie", class: 'center-item top-space bottom-space' %>
    </div>
  </div>
</section>

<!-- HERE -->
<div class="content-container mt-5">
  <div class="grid-3c height-300 top-space mb-4">
    <div class="hovertrigger">
      <%= image_tag "icons/icon-projet.svg", class: "hidehover center-item mb-4", alt: "Management de projet" %>
      <h3 class="text-center">Management de projet</h3>
      <p class="displayhover smooth-text" style="display: none;">Nous vous accompagnons dans le lancement et le suivi de vos projets digitaux. Nous sommes intégrés à vos équipes pour gérer la conception opérationnelle du produit.</p>
    </div>
    <div class="hovertrigger">
      <%= image_tag "icons/icon-recherche.svg", class: "hidehover center-item mb-4", alt: "User Research" %>
      <h3 class="text-center">User Research</h3>
      <p class="displayhover smooth-text" style="display: none;">Vos utilisateurs n'auront plus de secret pour vous. Nous organisons des campagnes d'interviews et de tests d'utilisatbilité pour agir vite et prendre les bonnes décisions.</p>
    </div>
    <div class="hovertrigger">
      <%= image_tag "icons/icon-ux.svg", class: "hidehover center-item mb-4", alt: "UX & UI Design" %>
      <h3 class="text-center">UX & UI Design</h3>
      <p class="displayhover smooth-text" style="display: none;">Renforcer l'accessibilité et la faciliité d'utilisation de vos produits digitaux. Notre expertise UX/UI transformera vos interfaces un véritable levier de croissance pour votre entreprise.</p>
    </div>
  </div>
  <div class="grid-3c height-300">
    <div class="hovertrigger">
      <%= image_tag "icons/icon-facilitate.svg", class: "hidehover center-item mb-4", alt: "Facilitation" %>
      <h3 class="text-center">Facilitation</h3>
      <p class="displayhover smooth-text" style="display: none;">Besoins d'un coup de pouce pour animer une session d'ideation ? Que ce soit en physique ou à distance, nous permettons aux équipes d'avancer et d'innover en co-conception grâce à nos techniques d'animation et de créativité.</p>
    </div>
    <div class="hovertrigger">
      <%= image_tag "icons/icon-dev.svg", class: "hidehover center-item mb-4", alt: "Développement" %>
      <h3 class="text-center">Développement de site et d'application</h3>
      <p class="displayhover smooth-text" style="display: none;">Vous souhaitez développer un nouveau produit ou refondre votre site Internet ? Nos développeurs pourront construire le site qui correspondra le mieux à vos attentes et vos objectifs.</p>
    </div>
    <div class="hovertrigger">
      <%= image_tag "icons/icon-growth.svg", class: "hidehover center-item mb-4", alt: "Growth Design" %>
      <h3 class="text-center">Growth Design</h3>
      <p class="displayhover smooth-text" style="display: none;">Nous optimisons vos interfaces et vos interactions utilisateurs pour générer plus de leads qualifiés et accélérer votre croissance. Test, analyse et amélioration continue.</p>
    </div>
  </div>
</div>
    <!-- Expertises -->
    <div id='start' class="grid-2c bottom-space">
      <div class="bottom-space pt-2">
        <h2 class="rubrique-title">Chez Yusa nous concevons, testons et développons rapidement vos idées de sites web ou d'applications pour créer le produit digital que vos utilisateurs désirent.</h2>
        <h3 class="rubrique-description mt-4">Passez de l'idée au produit, sans risque, sans contrainte et en maîtrisant votre budget.</h3>
        <%= link_to 'concrétisez votre idée', "https://form.typeform.com/to/yAbF7ePP", target: "_blank", onclick: "ga('send', 'event', { eventCategory: 'cta', eventAction: 'click', eventLabel: 'cta_landing_home'});", class: 'cta-primary fixed-cta-mobile' %>
      </div>
    </div>
  </div>
  <div class="layout-container content-container">
    <div class="services-container">
      <ul class="list-no-style domain-list align-self-start">
        <li class="button_slide slide_right"><a id="dom1" class="domain p-bold" data-toggle="collapse" href="#serviceOne" role="button" aria-expanded="true" aria-controls="serviceOne">Stratégie digitale</a></li>
        <li class="button_slide slide_right"><a id="dom2"class="domain p-bold" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">Expérience utilisateur</a></li>
        <li class="button_slide slide_right"><a id="dom3"class="domain p-bold" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">Efficacité digitale</a></li>
        <li class="button_slide slide_right"><a id="dom4"class="domain p-bold" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">Conception et création</a></li>
        <li class="button_slide slide_right"><a id="dom5"class="domain p-bold" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">Formation</a></li>
      </ul>
      <div class="">
        <div class="collapse show" data-domain="dom1">
          <ul class="mt-3 list-no-style">
            <li class="pb-3">Roadmap digitale</li>
            <li class="pb-3">Reposionnement</li>
            <li class="pb-3">Identification d'objectifs business</li>
            <li class="pb-3">Ideation workshops</li>
            <li class="pb-3">Prospective business</li>
            <li class="pb-3">Product management de transition</li>
            <li class="pb-3">Lancement de nouvelles offres</li>
          </ul>
        </div>
        <div class="collapse" data-domain="dom2">
          <ul class="mt-3 list-no-style">
            <li class="pb-3">Brief UX</li>
            <li class="pb-3">Audit d'ergonomie</li>
            <li class="pb-3">Interviews utilisateurs</li>
            <li class="pb-3">Tests d'utilisabilité</li>
            <li class="pb-3">Design Sprint</li>
            <li class="pb-3">Parcours utilisateur</li>
          </ul>
        </div>
        <div class="collapse" data-domain="dom3">
          <ul class="mt-3 list-no-style">
            <li class="pb-3">Digitalisation de processus</li>
            <li class="pb-3">Signature électronique</li>
            <li class="pb-3">Chatbot</li>
            <li class="pb-3">Web analytics & SEO</li>
            <li class="pb-3">Growth Hacking</li>
            <li class="pb-3">Market place</li>
          </ul>
        </div>
        <div class="collapse" data-domain="dom4">
          <ul class="mt-3 list-no-style">
            <li class="pb-3">Refonte de site et application web</li>
            <li class="pb-3">Prototypage</li>
            <li class="pb-3">Brand Identity</li>
            <li class="pb-3">Création de contenu</li>
            <li class="pb-3">Développement web</li>
            <li class="pb-3">Design d'interface (UI)</li>
            <li class="pb-3">Création de design system</li>
          </ul>
        </div>
        <div class="collapse" data-domain="dom5">
          <ul class="mt-3 list-no-style">
            <li class="pb-3">Management de la conception UX</li>
            <li class="pb-3">Prototypage d'application</li>
            <li class="pb-3">Intégration web FrontEnd</li>
            <li class="pb-3">Design Sprint workshops</li>
            <li class="pb-3">Méthodologies de User Research</li>
          </ul>
        </div>
      </div>
    </div>
    <%= link_to 'Caché sur mobile ?', "#", class: 'cta-primary hidden-mobile' %>
  </div>
