<div class="bg-black-gradient full-screen mb-4">
  <div class="content-container home-banner z-index-50">
    <h1 class="hero-title">Hello !<br>Bienvenue chez Yusa.</h1>
    <%= link_to 'concrétisez votre idée', "#", class: 'cta-primary fixed-cta-mobile' %>
    <%= link_to test_page_path(anchor:'start'), class: 'center-item' do %>
      <%= image_tag 'arrow-d-white.svg', class: 'top-space mb-2' %></a>
    <% end %>
  </div>
</div>
<%= image_tag "bg-logo-black.svg", class: 'bg-logo-overflow' %>
<div class="layout-container content-container">
  <div id="start" class="services-container">
    <ul class="list-no-style domain-list align-self-start">
      <li class="button_slide slide_right"><a id="dom1" class="domain p-bold" data-toggle="collapse" href="#serviceOne" role="button" aria-expanded="true" aria-controls="serviceOne">Stratégie digitale</a></li>
      <li class="button_slide slide_right"><a id="dom2"class="domain p-bold" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">Expérience utilisateur</a></li>
      <li class="button_slide slide_right"><a id="dom3"class="domain p-bold" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">Efficacité digitale</a></li>
      <li class="button_slide slide_right"><a id="dom4"class="domain p-bold" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">Conception et création</a></li>
      <li class="button_slide slide_right"><a id="dom5"class="domain p-bold" data-toggle="collapse" href="#serviceTwo" role="button" aria-expanded="false" aria-controls="serviceTwo">Formation</a></li>
    </ul>
    <div class="">
      <div class="collapse show" data-domain="dom1">
        <ul class="mt-3 list-no-style">
          <li class="pb-3">Roadmap digitale</li>
          <li class="pb-3">Reposionnement</li>
          <li class="pb-3">Identification d'objectifs business</li>
          <li class="pb-3">Ideation workshops</li>
          <li class="pb-3">Prospective business</li>
          <li class="pb-3">Product management de transition</li>
          <li class="pb-3">Lancement de nouvelles offres</li>
        </ul>
      </div>
      <div class="collapse" data-domain="dom2">
        <ul class="mt-3 list-no-style">
          <li class="pb-3">Brief UX</li>
          <li class="pb-3">Audit d'ergonomie</li>
          <li class="pb-3">Interviews utilisateurs</li>
          <li class="pb-3">Tests d'utilisabilité</li>
          <li class="pb-3">Design Sprint</li>
          <li class="pb-3">Parcours utilisateur</li>
        </ul>
      </div>
      <div class="collapse" data-domain="dom3">
        <ul class="mt-3 list-no-style">
          <li class="pb-3">Digitalisation de processus</li>
          <li class="pb-3">Signature électronique</li>
          <li class="pb-3">Chatbot</li>
          <li class="pb-3">Web analytics & SEO</li>
          <li class="pb-3">Growth Hacking</li>
          <li class="pb-3">Market place</li>
        </ul>
      </div>
      <div class="collapse" data-domain="dom4">
        <ul class="mt-3 list-no-style">
          <li class="pb-3">Refonte de site et application web</li>
          <li class="pb-3">Prototypage</li>
          <li class="pb-3">Brand Identity</li>
          <li class="pb-3">Création de contenu</li>
          <li class="pb-3">Développement web</li>
          <li class="pb-3">Design d'interface (UI)</li>
          <li class="pb-3">Création de design system</li>
        </ul>
      </div>
      <div class="collapse" data-domain="dom5">
        <ul class="mt-3 list-no-style">
          <li class="pb-3">Management de la conception UX</li>
          <li class="pb-3">Prototypage d'application</li>
          <li class="pb-3">Intégration web FrontEnd</li>
          <li class="pb-3">Design Sprint workshops</li>
          <li class="pb-3">Méthodologies de User Research</li>
        </ul>
      </div>
    </div>
  </div>
  <%= link_to 'Caché sur mobile ?', "#", class: 'cta-primary hidden-mobile' %>
</div>
