<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <!-- global container -->
    <div class="layout-container">

      <!-- header -->
      <div class="header">
        <%= link_to root_path do %>
          <div id="yusa-logo-header">
            <%= image_tag("logo-full.svg") %>
          </div>
        <% end %>
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <div id="yusa-logo-menu">
              <%= link_to root_path do %>
                <%= image_tag("logo-full.svg") %>
              <% end %>
            </div>
            <div class="list-menu">
              <div class="link-menu">
                <a href="/cases"><li>Cas clients</li></a>
                <a href="/articles"><li>Reviews</li></a>
                <a href="/about"><li>Yusa</li></a>
              </div>
              <div class="top-space">
                <div class="big-title pb-4 pt-4">Vous avez un projet ?</div>
                <div class="rubrique-description bottom-space">Echangeons !</div>
                <a class="contact-email" href="mailto:contact@yusa.digital"><u>contact@yusa.digital</u></a>
                <% if admin_signed_in? && current_admin.id == 1 %>
                  <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
                <% end %>
              </div>
            </div>
          </ul>
        </div>
      </div>

    <!-- content import -->
    <%= yield %>
    <!-- contact -->
      <div class="full-width bg-dark">
        <div class="content-container">
          <div class="big-title pb-4 pt-4">Vous avez un projet ?</div>
          <div class="rubrique-description bottom-space">Echangeons !</div>
          <a class="contact-email" href="mailto:contact@yusa.digital">contact@yusa.digital</a>
        </div>
      </div>

        <!-- FAQ -->
        <div class="full-width bg-light card-bottom-rounded">
          <div class="content-container pb-3">
            <h3 class="bottom-space">Les questions les plus fréquemment posées par nos clients.</h3>
            <div class="card-faq">
              <h2>Question posée par des clients</h2>
              <p>Ipsum nulla dolore quis adipisicing enim sunt nostrud dolore sunt reprehenderit dolor labore. Do aliqua sunt eiusmod sit eu eiusmod anim qui qui nostrud. Dolor nisi et est pariatur occaecat aliqua fugiat Lorem reprehenderit aliquip esse eu labore eiusmod. Esse qui incididunt voluptate exercitation minim pariatur voluptate deserunt ea occaecat magna sunt irure. Sit dolor ex excepteur irure nostrud officia ullamco officia mollit.</p>
            </div>
            <div class="card-faq">
              <h2>Question posée par des clients</h2>
              <p>Ipsum nulla dolore quis adipisicing enim sunt nostrud dolore sunt reprehenderit dolor labore. Do aliqua sunt eiusmod sit eu eiusmod anim qui qui nostrud. Dolor nisi et est pariatur occaecat aliqua fugiat Lorem reprehenderit aliquip esse eu labore eiusmod. Esse qui incididunt voluptate exercitation minim pariatur voluptate deserunt ea occaecat magna sunt irure. Sit dolor ex excepteur irure nostrud officia ullamco officia mollit.</p>
            </div>
            <div class="card-faq">
              <h2>Question posée par des clients</h2>
              <p>Ipsum nulla dolore quis adipisicing enim sunt nostrud dolore sunt reprehenderit dolor labore. Do aliqua sunt eiusmod sit eu eiusmod anim qui qui nostrud. Dolor nisi et est pariatur occaecat aliqua fugiat Lorem reprehenderit aliquip esse eu labore eiusmod. Esse qui incididunt voluptate exercitation minim pariatur voluptate deserunt ea occaecat magna sunt irure. Sit dolor ex excepteur irure nostrud officia ullamco officia mollit.</p>
            </div>
            <div class="card-faq">
              <h2>Question posée par des clients</h2>
              <p>Ipsum nulla dolore quis adipisicing enim sunt nostrud dolore sunt reprehenderit dolor labore. Do aliqua sunt eiusmod sit eu eiusmod anim qui qui nostrud. Dolor nisi et est pariatur occaecat aliqua fugiat Lorem reprehenderit aliquip esse eu labore eiusmod. Esse qui incididunt voluptate exercitation minim pariatur voluptate deserunt ea occaecat magna sunt irure. Sit dolor ex excepteur irure nostrud officia ullamco officia mollit.</p>
            </div>
          </div>
        </div>
      <!-- footer -->
        <div class="footer bg-black">
          <div class="content-container pb-3">
            <div class="social">
              <!-- social icons -->
            </div>
            <p class="bottom-space">Culpa fugiat reprehenderit enim sunt nulla irure aliquip nisi eu Lorem tempor nulla sit Lorem aliquip exercitation anim enim nisi.</p>
            <p class="mb-0">Fabriqué avec 💙 à Marseille</p>
            <div class="dynamic-location bottom-space">
              <h3>à 150 m de la Méditérannée</h3>
            </div>
            <a class="contact-email mb-4" href="mailto:contact@yusa.digital">contact@yusa.digital</a>
            <div class="description top-space">Yusa® - Marseille</div>
          </div>
        </div>
    </div>
    <%= render 'shared/flashes' %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
