<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <!-- global container -->
    <div class="layout-container">

      <!-- header -->
      <div class="header">
        <%= link_to root_path do %>
          <div id="yusa-logo-header">
            <%= image_tag("logo-full.svg") %>
          </div>
        <% end %>
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <div id="yusa-logo-menu">
              <%= link_to root_path do %>
                <%= image_tag("logo-full.svg") %>
              <% end %>
            </div>
            <div class="list-menu">
              <div class="link-menu">
                <a href="/cases"><li>Cas clients</li></a>
                <a href="/articles"><li>Reviews</li></a>
                <a href="/about"><li>Yusa</li></a>
              </div>
              <div class="top-space">
                <div class="big-title pb-4 pt-4">Vous avez un projet ?</div>
                <div class="rubrique-description bottom-space">Echangeons !</div>
                <a class="contact-email" href="mailto:contact@yusa.digital"><u>contact@yusa.digital</u></a>
                <% if admin_signed_in? && current_admin.id == 1 %>
                  <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
                <% end %>
              </div>
            </div>
          </ul>
        </div>
      </div>

    <!-- content import -->
    <%= yield %>
    <!-- contact -->
      <div class="mt-5 full-width bg-dark card-top-rounded">
        <div class="content-container top-space">
          <div class="big-title pb-4 pt-4 mt-5">Vous avez un projet ?</div>
          <div class="rubrique-description bottom-space">Echangeons !</div>
          <a class="contact-email bottom-space mb-5" href="mailto:contact@yusa.digital">contact@yusa.digital</a>
        </div>
      </div>

        <!-- FAQ -->
        <div class="full-width bg-black card-bottom-rounded bottom-space">
          <div class="content-container pb-3">
            <div class="left-align-80">
              <h3 class="bottom-space top-space rubrique-title">Les questions les plus fréquemment posées par nos clients.</h3>
              <div class="card-p-bottom mb-5 trigger">
                <div class="card-p-bottom-title pointer">
                  <h2>Question posée par des clients</h2>
                  <i class="fas fa-caret-down fas-stylized trigger-active"></i>
                </div>
                <p class="todeploy">Ipsum nulla dolore quis adipisicing enim sunt nostrud dolore sunt reprehenderit dolor labore. Do aliqua sunt eiusmod sit eu eiusmod anim qui qui nostrud. Dolor nisi et est pariatur occaecat aliqua fugiat Lorem reprehenderit aliquip esse eu labore eiusmod. Esse qui incididunt voluptate exercitation minim pariatur voluptate deserunt ea occaecat magna sunt irure. Sit dolor ex excepteur irure nostrud officia ullamco officia mollit.</p>
              </div>
              <div class="card-p-bottom mb-5 trigger">
                <div class="card-p-bottom-title pointer">
                  <h2>Question posée par des clients</h2>
                  <i class="fas fa-caret-down fas-stylized"></i>
                </div>
                <p class="todeploy" style="display: none">Ipsum nulla dolore quis adipisicing enim sunt nostrud dolore sunt reprehenderit dolor labore. Do aliqua sunt eiusmod sit eu eiusmod anim qui qui nostrud. Dolor nisi et est pariatur occaecat aliqua fugiat Lorem reprehenderit aliquip esse eu labore eiusmod. Esse qui incididunt voluptate exercitation minim pariatur voluptate deserunt ea occaecat magna sunt irure. Sit dolor ex excepteur irure nostrud officia ullamco officia mollit.</p>
              </div>
              <div class="card-p-bottom mb-5 trigger">
                <div class="card-p-bottom-title pointer">
                  <h2>Question posée par des clients</h2>
                  <i class="fas fa-caret-down fas-stylized"></i>
                </div>
                <p class="todeploy" style="display: none">Ipsum nulla dolore quis adipisicing enim sunt nostrud dolore sunt reprehenderit dolor labore. Do aliqua sunt eiusmod sit eu eiusmod anim qui qui nostrud. Dolor nisi et est pariatur occaecat aliqua fugiat Lorem reprehenderit aliquip esse eu labore eiusmod. Esse qui incididunt voluptate exercitation minim pariatur voluptate deserunt ea occaecat magna sunt irure. Sit dolor ex excepteur irure nostrud officia ullamco officia mollit.</p>
              </div>
              <div class="card-p-bottom mb-5 trigger">
                <div class="card-p-bottom-title pointer">
                  <h2>Question posée par des clients</h2>
                  <i class="fas fa-caret-down fas-stylized"></i>
                </div>
                <p class="todeploy" style="display: none">Ipsum nulla dolore quis adipisicing enim sunt nostrud dolore sunt reprehenderit dolor labore. Do aliqua sunt eiusmod sit eu eiusmod anim qui qui nostrud. Dolor nisi et est pariatur occaecat aliqua fugiat Lorem reprehenderit aliquip esse eu labore eiusmod. Esse qui incididunt voluptate exercitation minim pariatur voluptate deserunt ea occaecat magna sunt irure. Sit dolor ex excepteur irure nostrud officia ullamco officia mollit.</p>
              </div>
            </div>
          </div>
        </div>
      <!-- footer -->
        <div class="bg-footer">
          <div class="content-container mt-0 pb-3">
            <div class="grid-2c">
              <div class="">
                <p class="bottom-space description">Culpa fugiat reprehenderit enim sunt nulla irure aliquip nisi eu Lorem tempor nulla sit Lorem aliquip exercitation anim enim nisi.</p>
                <p class="rubrique-title">Contactez-nous.</p>
                <a class="contact-email mb-4" href="mailto:contact@yusa.digital">contact@yusa.digital</a>
              </div>
              <div class="ml-5 pl-5 d-flex flex-column">
                <!-- social icons -->
                <a href="/about" class="text-white pb-3 description"><u>Qui sommes nous ?</u></a>
                <a href="#" class="text-white pb-3 description"><u>Accueil</u></a>
<!--                 <a href="/cases" class="text-white pb-3"><u>Cas clients</u></a>
                <a href="/articles" class="text-white pb-3"><u>Reviews</u></a> -->
              </div>
            </div>
            <div class="footer">
              <p class="mb-0 top-space mt-1">Fabriqué avec 💙 à Marseille</p>
              <div class="dynamic-location">
                <p class="p-bold">à 150 m de la Méditérannée</p class="p-bold">
              </div>
              <div class="description mt-4">YUSA.DIGITAL - COPYRIGHT © 2020 - MARSEILLE<br>ALL RIGHTS RESERVED</div>
            </div>
          </div>
        </div>
    </div>
    <%= render 'shared/flashes' %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
