<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <!-- global container -->
    <div class="layout-container">
      <!-- header -->
      <div class="header">
        <%= link_to root_path do %>
        <div id="yusa-logo-header">
          <% if current_page?(root_path) %>
            <%= image_tag("logo-full.svg", alt: 'logo yusa') %>
          <% else %>
            <%= image_tag("logo-full-white.svg", alt: 'logo yusa') %>
          <% end %>
        </div>
        <% end %>
        <!-- Burger menu -->
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <div id="yusa-logo-menu">
              <%= link_to root_path do %>
              <%= image_tag("logo-full.svg", alt: 'logo yusa') %>
              <% end %>
            </div>
            <div class="list-menu">
              <div class="link-menu">
                <a href="/#offres"><li>Concrétisez vos projets</li></a>
                <a href="/formations"><li>Nos formations</li></a>
                <a href="/about"><li>À propos</li></a>
              </div>
              <div class="top-space">
                <div class="big-title pb-4 pt-4">Vous avez un projet ?</div>
                <div class="rubrique-description bottom-space">Echangeons !</div>
                <a class="contact-email" href="mailto:contact@yusa.digital"><u>contact@yusa.digital</u></a>
                <% if admin_signed_in? && current_admin.id == 1 %>
                <%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: "d-inline-block mt-3" %>
                <% end %>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <!-- content import -->
      <%= yield %>
      <!-- footer -->
      <div class="bg-footer pt-5 pb-3">
        <div class="content-container">
          <div class="row">
            <div class="col-12 col-md-8 pr-5">
              <p class="rubrique-title">Contactez-nous.</p>
              <a class="contact-email mb-4" href="mailto:contact@yusa.digital">contact@yusa.digital</a>
              <p class="py-5 pr-5">Yusa accélère votre transformation digitale en vous accompagnant dans la création de produits et de services digitaux.</p>
            </div>
            <div class="d-flex flex-column col-12 col-md-4">
              <%= image_tag "logo-full-white.svg", style: 'width: 122px;', class: 'mb-4', alt: 'logo yusa' %>
              <!-- social icons -->
              <a href="/about" class="text-white pb-3"><u>Qui sommes nous ?</u></a>
              <a href="/#offres" class="text-white pb-3"><u>Concrétisez vos idées</u></a>
              <a href="/formations" class="text-white pb-3"><u>Nos formations</u></a>
              <a href="/" class="text-white pb-3"><u>Accueil</u></a>
              <!--                 <a href="/cases" class="text-white pb-3"><u>Cas clients</u></a>
              <a href="/articles" class="text-white pb-3"><u>Reviews</u></a> -->
            </div>
          </div>
        </div>
        <div class="footer">
          <p class="mb-0">Fabriqué avec 💙 à Marseille</p>
          <div class="mt-4 description">YUSA.DIGITAL - COPYRIGHT © 2020 - MARSEILLE<br>ALL RIGHTS RESERVED - <a href="/mentions" class="text-white">MENTIONS LEGALES</a></div>
        </div>
      </div>
    </div>
    <%= render 'shared/flashes' %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>
