<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <!-- global container -->
    <div class="layout-container">
      <!-- header -->
      <div class="header">
        <%= link_to root_path do %>
        <div id="yusa-logo-header">
          <%= image_tag("logo-full.svg") %>
        </div>
        <% end %>
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <div id="yusa-logo-menu">
              <%= link_to root_path do %>
              <%= image_tag("logo-full.svg") %>
              <% end %>
            </div>
            <div class="list-menu">
              <div class="link-menu">
                <a href="#landing-contact"><li>Accélérons vos projets</li></a>
                <a href="/about"><li>Qui sommes-nous ?</li></a>
              </div>
              <div class="top-space">
                <div class="big-title pb-4 pt-4">Vous avez un projet ?</div>
                <div class="rubrique-description bottom-space">Echangeons !</div>
                <a class="contact-email" href="mailto:contact@yusa.digital"><u>contact@yusa.digital</u></a>
                <% if admin_signed_in? && current_admin.id == 1 %>
                <%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: "d-inline-block mt-3" %>
                <% end %>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <!-- content import -->
      <%= yield %>
      <!-- FAQ -->
      <div class="full-width bg-dark card-top-rounded bottom-space mt-5">
        <div class="content-container pb-3">
          <div class="left-align-80">
            <h3 class="bottom-space top-space rubrique-title">Questions les plus fréquemment posées par nos clients.</h3>
            <div class="card-p-bottom mb-5 trigger">
              <div class="card-p-bottom-title pointer">
                <h2>Quels sont vos domaines d'expertises</h2>
                <i class="fas fa-caret-down fas-stylized trigger-active"></i>
              </div>
              <div class="todeploy smooth-text">
                <p>L'expérience utilisateur est le pilier fondateur de notre activité. Après des années de conseil en stratégie et transformation digitale, nous nous sommes rendus compte que nos plus beaux succès étaient liées à des missions impliquant l'amélioration de l'expérience utilisateur. Historiquement spécialisés dans la conception de produits digitaux et la refonte de parcours utilisateur, nous avons rapidement étendu notre offre vers l'identité de marque, la stratégie de contenu et le conseil en conception d'interfaces digitales. Nous sommes convaincu que l'UX et le Branding sont indissociables dans la mise en place d'une expérience globale cohérente et efficace.</p>
                <p>Les projets que nous menons s'étendent de la création d'un nouveau produit à la refonte visuelle d'une marque existante. Nous vous accompagnons durant tout le cycle de conception pour créer des expériences qui rendent vos utilisateurs heureux : user research, design sprint, product roadmap, identité visuelle, création de contenu, tests d'utilisateur, prototypage, développement front-end...</p>
                <p>Nous pouvons également vous accompagner dans les phases projets qui suivent la livraison de nos travaux. Généralement, nos clients continuent à faire appel à nous pour les aider à piloter le développement global de leur produit, car nous avons acquis au fil de la prestation une fine connaissance du projet et du contexte dans lequel se trouve l'entreprise. Là encore, si vous souhaitez une compétence particulière que nous n'avons pas en interne, notre réseau nous permet de vous proposer l'expertise dont vous avez besoin au moment opportun.</p>
              </div>
            </div>
            <div class="card-p-bottom mb-5 trigger">
              <div class="card-p-bottom-title pointer">
                <h2>Qu'est ce qui vous différencie d’une agence digitale ?</h2>
                <i class="fas fa-caret-down fas-stylized"></i>
              </div>
              <div class="todeploy smooth-text" style="display: none">
                <p>Il existe un grand nombre d'agences implantées sur le territoire national, avec un niveau de qualité et d'exigence à la pointe des normes actuelles de l'UX. En tant que client, faire un choix dans cette multitude d'acteurs n'est souvent pas évident. Notre différenciation se fait sur plusieurs points :</p>
                <p>Tout d'abord, fort de nos expériences passées au sein de grands cabinets de conseil, nous avons acquis des méthodes rigoureuses de gestion de projet et savons piloter des programmes stratégiques au sein d'organisations de toutes tailles.</p>
                <p>De plus, nous nous engageons à passer du temps auprès de vos vrais utilisateurs pour comprendre réellement leurs besoins. Nous ne simulerons jamais de panels clients, ni supposeront de ce que pensent ou veulent vos utilisateurs finaux.</p>
                <p>Ensuite, nous sommes proches de nos clients et adorons les impliqués dans nos travaux. Cela fait même parti des méthodologies que nous mettons en place : vous êtes avec nous pendant 2 à 3 jours lors de nos Design Sprint, nous vous faisons écouter les interviews en live pour que vous preniez connaissance des réels ressentis de vos utilisateurs, nous itérons ensemble sur chaque phase du projets pour assurer une conception optimale du produit créé.</p>
                <p>Enfin, même si cela devrait être une généralité, nous avons la plus grande exigence quant à la qualité d'exécution de nos prestations et des livrables que nous remettons à nos clients. On ne peut pas se prétendre expert de l'UX et de la marque, sans être focalisé à 100% sur le rendu final.</p>
                <p>Contrairement à la plupart des agences traditionnelles de conception d'expériences utilisateur, nous combinons les domaines d'activité de la création et du branding, à ceux de la conception de produits. En quelque sorte, nous avons mis sous un même toi une société de stratégie de marque et un cabinet de conseil UX.</p>
              </div>
            </div>
            <div class="card-p-bottom mb-5 trigger">
              <div class="card-p-bottom-title pointer">
                <h2>Qu'entendez-vous par branding ?</h2>
                <i class="fas fa-caret-down fas-stylized"></i>
              </div>
              <div class="todeploy smooth-text" style="display: none">
                <p>Par "Branding" vous pouvez entendre toute les opérations qui vont permettre de faire de votre entreprise une marque à part entière, unique et authentique. Vous vous démarquerez ainsi plus facilement sur votre marché et fidéliserez vos utilisateurs finaux par une expérience globale optimale.</p>
                <p>Nos interventions sur ce domaine passent par la création d'identités visuelles, la compréhensions des perceptions utilisateurs, la stratégie de marque, la création de contenu, la conception de logos, l'élaboration de guidelines de marque... Nous sommes capables de vous accompagner tout au long de votre projet ou sur une partie si vous avez déjà des éléments de base sur lesquels vous avez travaillé.</p>
              </div>
            </div>
            <div class="card-p-bottom mb-5 trigger">
              <div class="card-p-bottom-title pointer">
                <h2>Travaillez-vous aussi avec des entreprises de petites tailles ?</h2>
                <i class="fas fa-caret-down fas-stylized"></i>
              </div>
              <div class="todeploy smooth-text" style="display: none">
                <p>Nous avons l'habitude de collaborer avec tout type d'organisation. Même si nous avons passé plus de temps au sein de grands groupes, nous accompagnons évidemment des start-ups, des petites sociétés, comme des entreprises de taille intermédiaire. </p>
                <p>En tant que boutique conseil UX et Branding, nous avons un fort impact auprès des fondateurs de start-ups et entrepreneurs. Nous nous impliquons à 100% dans chaque mission et privilégions les rapports humains plutôt que les prestations en silo et à distance.</p>
                <p>Basés à Marseille, nous avons à coeur de travailler avec les acteurs économiques locaux, pour donner vie à des idées innovantes et en phase avec l'environnement dynamique dans lequel nous nous trouvons. </p>
                <p>Nous proposons des tarifs spéciaux pour les start-ups ou porteurs de projet auxquelles nous croyons. N'hésitez pas à nous contacter, pour en savoir plus.</p>
              </div>
            </div>
            <div class="card-p-bottom mb-5 trigger">
              <div class="card-p-bottom-title pointer">
                <h2>Peut-on faire appelle à vous pour la création d'un outil interne destiné à nos collaborateurs ?</h2>
                <i class="fas fa-caret-down fas-stylized"></i>
              </div>
              <div class="todeploy smooth-text" style="display: none">
                <p>Bien sûr ! Et vous avez entièrement raison de faire appel à un professionnel de l'UX pour ce type de projet. En effet, il est courant de penser que l'UX est uniquement destiné à une cible de consommateurs finaux. Or, l'utilisateur n'est pas forcément celui qui réalise l'acte d'achat, ça peut aussi être votre collaborateur ou votre partenaire commercial. Dans ce cas, pour quoi ne pas lui proposer la meilleure expérience possible ?</p>
                <p>Vous vous êtes forcément déjà agacés de perdre du temps à réaliser des tâches à faible valeur ajoutée, ou énervés devant un outil au fonctionnement incompréhensible et peu intuitif. Si vous comptez sur une année, le nombre d'heures passées à contourner ces problèmes et que vous le ramenez à votre taux horaire... le montant peut vite s'avérer astronomique. </p>
                <p>Donc oui, nous pouvons vous accompagner sur la réflexion et la mise en place d'un outil qui pourra améliorer l'efficacité de votre activité ou automatisera certaines tâches, et qui rendra surtout vos collaborateurs heureux en leur faisant vire une belle expérience d'utilisation. Nous sommes convaincus que vous bénéficierez d'un réel retour sur investissement. </p>
              </div>
            </div>
            <div class="card-p-bottom mb-5 trigger">
              <div class="card-p-bottom-title pointer">
                <h2>Comment puis-je vous poser une autre question ?</h2>
                <i class="fas fa-caret-down fas-stylized"></i>
              </div>
              <div class="todeploy smooth-text" style="display: none">
                <p>Ecrivez-nous, nous serons ravis de vous répondre dans les plus bref délais.  Et promis, vous ne serrez pas harcelé par une équipe de commerciaux pressés de vous vendre à tout prix un service dont vous n'avez pas besoin.</p>
                <!-- question form -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div class="bg-footer pt-5 pb-3">
        <div class="content-container">
          <div class="row">
            <div class="col-12 col-md-8 pr-5">
              <p class="rubrique-title">Contactez-nous.</p>
              <a class="contact-email mb-4" href="mailto:contact@yusa.digital">contact@yusa.digital</a>
              <p class="py-5 pr-5">Yusa accélère votre transformation digitale en vous accompagnant dans la création de produits et de services digitaux.</p>
            </div>
            <div class="d-flex flex-column col-12 col-md-4">
              <%= image_tag "logo-full-white.svg", style: 'width: 122px;', class: 'mb-4' %>
              <!-- social icons -->
              <a href="/about" class="text-white pb-3"><u>Qui sommes nous ?</u></a>
              <a href="#" class="text-white pb-3"><u>Accueil</u></a>
              <!--                 <a href="/cases" class="text-white pb-3"><u>Cas clients</u></a>
              <a href="/articles" class="text-white pb-3"><u>Reviews</u></a> -->
            </div>
          </div>
        </div>
        <div class="footer">
          <p class="mb-0">Fabriqué avec 💙 à Marseille</p>
          <div class="dynamic-location">
          <p class="p-bold">à 150 m de la Méditérannée</p class="p-bold">
        </div>
        <div class="mt-4 description">YUSA.DIGITAL - COPYRIGHT © 2020 - MARSEILLE<br>ALL RIGHTS RESERVED</div>
      </div>
    </div>
  </div>
  <%= render 'shared/flashes' %>
  <%= javascript_pack_tag "application" %>
</body>
</html>
